/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********** My Code **********/

/********* Font Imports **********/

@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

/********** Basic Stylings **********/

body, html{
  height: 100%;
  background: #f0f0f0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

.container {
    margin: 0 auto;
}

h1 {
  padding: 1em;
  font-size: 28px;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 18px;
  margin-bottom: 1em;
}

h1, h2{
  font-family: 'Salsa', cursive;  
  color: #6e2222;
}

button {
  border-radius: 1.5em;
  border-width: 0.25em;
  border-color: #F7CF46;
  background-color: #C8392B;
  color: #f0f0f0;
  padding: 0.5em 1.5em 0.5em 1.5em;
}

footer {
  background: #6e2222;
  padding: 2em;
  color: #F7CF46;
}

nav {
  background: #6e2222;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-bottom: 2em;
  padding-top: 2em;
}

nav ul li {
  flex: 1;
  padding-left: 2em;
}

/* nav ul li:first-child{ 
  margin-left: 2em;
}*/

nav a {
  color: #F7CF46;
  text-decoration: none;
}

/********** Nav Link Animation **********/

nav a,
nav a:link,
nav a:visited {
  display: inline-block;
  transition: transform 0.5s, color 0.7s;
}

nav a:hover {
  color: #f0f0f0;
  transform: scale(1.6);
}

/********** Welcome Banner **********/

.banner {
  display: flex;
  position: relative;
}

.banner img {
  width: 100%;
  margin-bottom: 2em;
}

.banner button {
  margin-bottom: 2em;
}

.text-block {
  width: 60%;
  background: rgba(240,240,240,0.75);
  padding: 0.5em 1.5em 0.5em 1.5em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-block h2 {
  margin-top: 1em;
}

.text-block p {
  margin-bottom: 1em;
  margin-top: 1em;
}

/********** Page Info Columns **********/

.pages-info {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  gap: 1em;
  justify-content: center;
  margin-bottom: 2em;
  }
  
.page {
  border: 1px solid #FAE39E;
  border-radius: 8px;
  padding: 1rem;  
  background-color: #FAE39E;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
  
.page p{
  flex-grow: 1;
  margin-bottom: 1em;
  }
  
.image {
  order: -1;
  align-self: center;
  margin-bottom: 1em;
  }

/********** About Articles Grid **********/

.about-articles {
  margin-top: 2em;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: repeat(2, 33.33%);
  gap: 1em;
  justify-content: center;
  }
  
.article {
  border: 1px solid #FAE39E;
  border-radius: 8px;
  padding: 1rem;  
  background-color: #FAE39E;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
  
.article p{
  flex-grow: 1;
  }

.article h2 {
  margin-bottom: 2em;
}

.socials {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.socials div {
  margin-top: 1em;
  margin-bottom: 2em;
}

/********** Contact Section Grid **********/

.contact-section {
  margin-top: 2em;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: repeat(2, 33.33%);
  gap: 1em;
  justify-content: center;
  }
  
.contact {
  border: 1px solid #FAE39E;
  border-radius: 8px;
  padding: 1rem;  
  background-color: #FAE39E;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
  
.contact p{
  flex-grow: 1;
  }

.contact table{
  margin-bottom: 2em;
}

/********* Contact Form Styles *********/

.contact label, .contact input, .contact textarea{
  display:block;
  width:100%;
}

.contact label{
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.contact textarea{
  height:8em;
  margin-bottom: 1em;
}

input[type=submit] {
  border-radius: 1em;
  border-color: #F7CF46;
  background-color: #C8392B;
  color: #f0f0f0;
  padding: 0.5em 1.5em 0.5em 1.5em;
}

/********** Table Styling **********/

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f0f0f0;
}

/********** Media Queries **********/

@media screen and (max-width: 768px) {
  /* make grid into single column on tablet */
  .pages-info, .about-articles, .contact-section {
    display: grid;
    grid-template-columns: repeat(1, 50%);
  }
}


@media screen and (max-width: 480px) {
  /* make grid into single wider column on mobile */
  .pages-info, .about-articles, .contact-section {
    display: grid;
    grid-template-columns: repeat(1, 90%);
  }

  /* stack nav items vertically for mobile */
  nav ul {
    flex-direction: column;
  }

}


